name: Docker Build and Push

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # NEU: Diese Zeile wandelt deinen Usernamen in Kleinbuchstaben um
      - name: Lowercase Repo
        run: |
          echo "REPO_LOWER=${GITHUB_REPOSITORY_OWNER@L}" >> "${GITHUB_ENV}"

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Hier nutzen wir jetzt die kleingeschriebene Variable
          tags: ghcr.io/${{ env.REPO_LOWER }}/webuntisbot:latest